API_KEY = your_secret_api_key
PASSWORD = your_secret_bot_password
SUDO_PASSWORD = your_linux_user_password_if_you_want_to_run_sudo_commands
DISPLAY = :0.0
DBUS_SESSION_BUS_ADDRESS = unix:path=/run/user/1000/bus
VOICE_EN = mb/mb-en1
VOICE_ES = mb/mb-es1
